<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="description" content="Easily check and adjust text and background contrast realtime in your browser to meet the web standards requirements.">
		<meta name="keywords" content="contrast,extension,WCAG,chrome,firefox,browser,tool">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57.png">
		<link rel="shortcut icon" href="/favicon-32x32.png">

		<meta property="og:url" content="https://getkontrast.com">
		<meta property="og:image" content="https://getkontrast.com/og-image.jpg">
		<meta property="og:image:width" content="1352">
		<meta property="og:image:height" content="630">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Kontrast - Check and adjust web element contrast in real time.">
		<meta property="og:description" content="Quickly check and adjust contrast in realtime in your browser to meet the standards of Web Content Accessibility Guidelines (WCAG) requirements.">
		<meta property="og:site_name" content="Kontrast - Check and adjust web element contrast in real time.">
		<meta property="og:locale" content="en_US">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@getkontrast">
		<meta name="twitter:creator" content="@getkontrast">
		<meta name="twitter:url" content="https://getkontrast.com">
		<meta name="twitter:title" content="Kontrast - Check and adjust web element contrast in real time.">
		<meta name="twitter:description" content="Quickly check and adjust contrast in realtime in your browser to meet the standards of Web Content Accessibility Guidelines (WCAG) requirements.">
		<meta name="twitter:image" content="https://getkontrast.com/og-image.jpg">
		<meta name="google-site-verification" content="0S-5aekwT9PTv7yzEuGvIvHcgGRUNkqHcaZDE5sZbxY" />
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
</head>
<body>
	<div id="root"></div>
</body>
</html>
